<div id="error-page" style="width:600px;height:400px;margin:auto;margin-top:25px;">
  <div class="row">
    <div class="col s12">
      <div class="browser-window">
        <div class="top-bar">
          <div class="circles">
            <div id="close-circle" class="circle"></div>
            <div id="minimize-circle" class="circle"></div>
            <div id="maximize-circle" class="circle"></div>
          </div>
        </div>
        <div class="content">
          <div class="row">
            <div id="site-layout-example-top" class="col s12">
              <p class="flat-text-logo center white-text caption-uppercase">Sorry but we couldn’t find this page :(</p>
            </div>
            <div id="site-layout-example-right" class="col s12 m12 l12">
              <div class="row center">
                <h1 class="text-long-shadow col s12 mt-3">404</h1>
                <p class="center white-text">It seems that this page doesn’t exist. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
