<app-header></app-header>
<div id="main">
    <div class="wrapper">
        <app-side-nav> </app-side-nav>
        <app-breadcrumb> </app-breadcrumb>
        <router-outlet></router-outlet>
    </div>
</div>