<!-- START CONTENT -->
<section id="content">
  <!--start container-->
  <div class="container">
    <div class="section">
      <ul class="collection with-header">
        <li class="collection-header">
          <!-- <h4>Users</h4> -->
          <div class="header-search-wrapper">
            <i class="material-icons">search</i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Search Users" />
          </div>
        </li>
        <div *ngFor="let user of users | async">
            <app-user-detail [user]="user"></app-user-detail>
          </div>

      </ul>

    </div>
    <!-- Floating Action Button -->
    <div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
      <a class="btn-floating btn-large  light-blue lighten-1 waves-effect waves-light z-depth-3">
        <i class="material-icons">add</i>
      </a>
    </div>
    <!-- Floating Action Button -->
  </div>
  <!--end container-->
</section>

