<li class="collection-item avatar">
    <img [src]="user.photoURL" alt="pic" class="circle">
    <span class="title">{{user.displayName}}</span>
    <p>{{user.email}}
      <br> Second Line
    </p>
    <a href="#!" class="secondary-content light-blue-text text-lighten-1">
      <i class="material-icons">send</i>
    </a>
  </li>

