<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="navbar-color deep-purple darken-4">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
              <a routerLink="/dashboard" class="brand-logo darken-1">
                <img src="../../../assets/images/materialize-logo.png" alt="materialize logo" style="height:30px;">
                <span class="logo-text hide-on-med-and-down">Harn Tools</span>
              </a>
            </h1>
          </li>
        </ul>
        <div class="header-search-wrapper hide-on-med-and-down">
          
          <i class="material-icons hide-on-med-and-down">search</i>
          <input type="text" name="Search" class="header-search-input z-depth-2  hide-on-med-and-down" placeholder="Explore Harn Tools"
          />
        </div>
        <ul class="right">
            <a class="waves-effect waves-light light-blue lighten-1 btn" (click)="logout()">Logout</a>
          <!-- <li>
            <a materialize="dropdown" class="dropdown-button truncate" href="#!" data-activates="profile-dropdown">

              <span class="avatar-status avatar-online">
                <img src="https://lh6.googleusercontent.com/-oL4c3WpCTEI/AAAAAAAAAAI/AAAAAAAAApM/nN2jWsDgCQg/photo.jpg" alt="avatar">
              </span>
              &nbsp;  TEst User
              <i class="material-icons right">arrow_drop_down</i>
            </a>
          </li> -->
        </ul>

        <ul id="profile-dropdown" class="dropdown-content">
          <li>
            <a routerLink="/profile" class="grey-text text-darken-1">
              <i class="material-icons">face</i>User Profile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a routerLink="/login" class="grey-text text-darken-1">
              <i class="material-icons">keyboard_tab</i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
