
<div id="background"  style="width:350px;height:400px;margin:auto;">
  <div id="login-page" class="row" >
    <div class="col s12 z-depth-4 card-panel" style="margin-top:25px;">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <!-- <img src="../../assets/images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login"> -->
            <p class="center login-form-text">Harn Tools</p>
          </div>
        </div>

        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">person_outline</i>
            <input id="email" type="text">
            <label for="email" class="center-align">Email</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="material-icons prefix pt-5">lock_outline</i>
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <a href="#" routerLink="/profile" class="btn waves-effect waves-light col s12 hoverable light-blue lighten-1">Login</a>
          </div>
        </div>
        <div class="row">
            <p class="center login-form-text" style="margin-bottom:5px;">or use </p>
            <div class="input-field col s12">
            <a href="#" routerLink="/profile"  style="margin-top:5px;margin-bottom:5px;"
            class="btn waves-effect waves-light col s12 red hoverable" (click)="signInWithGoogle()" > 
            <i class="fa fa-google" aria-hidden="true" (click)="signInWithGoogle()"></i> Login with Google</a>
            <a href="#" routerLink="/profile" style="margin-top:5px;margin-bottom:5px;"
            class="btn waves-effect waves-light col s12 blue hoverable"> 
            <i class="fa fa-facebook" aria-hidden="true"></i> Login with Facebook</a>
            </div>
        </div>       
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="#" routerLink="/register">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
            <p class="margin right-align medium-small"><a href="#" routerLink="/forgot-password">Forgot password ?</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


