<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation">
    <li class="user-details cyan darken-2">
        <div *ngIf="auth.user | async as user">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <a>
                        <img  [src]="user.photoURL || './assets/images/noavatar.png'"
                        alt="profile-image" class="circle responsive-img valign profile-image waves-effect waves-light"
                        routerLink="/profile">
                    </a>
                  </div>
                  <div class="col col s8 m8 l8">
                     <a class="btn-flat waves-effect waves-light white-text profile-btn"
                      routerLink="/profile" data-activates="profile-dropdown-nav">{{ user.displayName }}
                      <i class="mdi-navigation-arrow-drop-down right"></i></a>

                      <p class="user-roal">{{ user.displayRole }}</p>
                    </div>
            </div>
        </div>
    </li>
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion">
            <li  routerLinkActive="activeMenu">
            <a routerLink="/dashboard" class="sideMenuItem">Dashboard</a>
            </li>
            <li *ngIf="userService.canRead" routerLinkActive="activeMenu">
                <a routerLink="/users" class="sideMenuItem">Users</a>
                </li>
            <li routerLinkActive="activeMenu">
            <a routerLink="/profile" class="sideMenuItem">Profile</a>
            </li>
            <li routerLinkActive="activeMenu">
                <a routerLink="/campaigns" class="sideMenuItem">Campaigns</a>
            </li>
            <li routerLinkActive="activeMenu">
                <a routerLink="/characters" class="sideMenuItem">Characters</a>
            </li>
            <li routerLinkActive="activeMenu">
                <a routerLink="/npcs" class="sideMenuItem">NPCs</a>
            </li>
            <li routerLinkActive="activeMenu">
                <a routerLink="/monsters" class="sideMenuItem">Monsters</a>
            </li>
      </ul>
    </li>
  </ul>
  <a href="#" materialize="sideNav" data-activates="slide-out"
    class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only light-blue lighten-1">
    <i class="material-icons">menu</i>
  </a>
</aside>
