<div id="login-page" class="row" 
style="width:350px;height:400px;margin:auto;" >
  <div class="col s12 z-depth-4 card-panel">
    <form class="login-form">
      <div class="row">
        <div class="input-field col s12 center">
          <h4>Forgot Password</h4>
          <p class="center">You can reset your password</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">person_outline</i>
          <input id="email" type="text">
          <label for="email" class="center-align">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">lock_outline</i>
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a href="#" routerLink="/forgot-password" class="btn waves-effect waves-light col s12">Reset Password</a>
        </div>
        <div class="input-field col s12">
          <p class="margin sign-up"><a href="#" routerLink="/login">Login</a> 
            <a href="#" routerLink="/register"class="right">Register</a></p>
        </div>
      </div>
    </form>
  </div>
</div>



