     
        
        <!-- START CONTENT -->
          <section id="content">
            <!--start container-->
            <div class="container">
              <div class="section">
                  <ul class="collection with-header">
                      <li class="collection-header"><h4>Users</h4>
                        <div class="header-search-wrapper">                           
                            <i class="material-icons">search</i>
                            <input type="text" name="Search" class="header-search-input z-depth-2" 
                            placeholder="Search Users"/>
                          </div>
                      </li>
                      <li class="collection-item avatar">
                        <img src="../../images/avatar/avatar-7.png" alt="" class="circle">
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle green">insert_chart</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                      </li>
                      <li class="collection-item avatar">
                        <i class="material-icons circle red">play_arrow</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                           Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                      </li>
                    </ul>

                    <p class="caption">A Simple Blank Page to use it for your custome design and elements.</p>
                <div class="divider"></div>
              </div>
              <!-- Floating Action Button -->
              <div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
                <a class="btn-floating btn-large  light-blue lighten-1 waves-effect waves-light z-depth-3">
                  <i class="material-icons">add</i>
                </a>
              </div>
              <!-- Floating Action Button -->
            </div>
            <!--end container-->
          </section>