<div id="breadcrumbs-wrapper">
  <div class="header-search-wrapper  hide">
      <i class="material-icons">search</i>
      <input type="text" name="Search" class="header-search-input z-depth-2" 
      placeholder="Explore Harn Tools" />
    </div>
  <div class="container hide">
    <div class="row">
      <div class="col s10 m6 l6">
        <!-- <h5 class="breadcrumbs-title">Blank Page</h5> -->
        <ol class="breadcrumbs">
          <li><a href="index.html">Dashboard</a></li>
          <li><a href="#">Pages</a></li>
          <li class="active">Blank Page</li>
        </ol>
      </div>
    </div>
  </div>
</div>

