<!-- <section id="content">
  <div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
              <ul class="tabs" materialize="tabs">
                <li class="tab col s6"><a class="active" href="#gm">GM</a></li>
                <li class="tab col s6"><a href="#player">Player</a></li>
              </ul>
            </div>
            <div id="gm" class="col s12">
              <br>
                <div class="row">
                    <section class="plans-container" id="plans">
                        <div class="col s6 m6 l3">
                            <div class="card z-depth-1">
                              <div class="card-image purple">
                                <div class="card-title">CREATE</div>
                                <div class="price">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                <div class="price-desc">CREATE a campaign</div>
                              </div>
                              <div class="card-content">
                              </div>
                              <div class="card-action center-align">
                                <button class="waves-effect waves-light purple btn">CREATE</button>
                              </div>
                            </div>
                          </div>
                          <div class="col s6 m6 l3">
                              <div class="card z-depth-1">
                                <div class="card-image purple">
                                  <div class="card-title">MANAGE</div>
                                  <div class="price">
                                      <i class="fa fa-globe" aria-hidden="true"></i>
                                  </div>
                                  <div class="price-desc">MANAGE Campaigns</div>
                                </div>
                                <div class="card-content">
                                </div>
                                <div class="card-action center-align">
                                  <button class="waves-effect waves-light purple btn">MANAGE</button>
                                </div>
                              </div>
                            </div>
                    </section>
                  </div>   
            </div>
            <div id="player" class="col s12">
                <br>
                <div class="row">
                    <section class="plans-container" id="plans">
                      <div class="col s6 m6 l3">
                        <div class="card z-depth-1">
                          <div class="card-image light-blue">
                            <div class="card-title">CREATE</div>
                            <div class="price">
                                <i class="ra ra-helmet"></i>
                            </div>
                            <div class="price-desc">Create a Character</div>
                          </div>
                          <div class="card-content">
                          </div>
                          <div class="card-action center-align">
                            <button class="waves-effect waves-light light-blue btn">Create</button>
                          </div>
                        </div>
                      </div>
                      <div class="col s6 m6 l3">
                          <div class="card z-depth-1">
                            <div class="card-image light-blue">
                              <div class="card-title">Manage</div>
                              <div class="price">
                                  <i class="ra ra-double-team"></i>
                              </div>
                              <div class="price-desc">Manage your characters</div>
                            </div>
                            <div class="card-content">
                            </div>
                            <div class="card-action center-align">
                              <button class="waves-effect waves-light light-blue btn">Manage</button>
                            </div>
                          </div>
                        </div>
                    </section>
                  </div>             
            </div>
          </div>    
            
              <div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
        <a class="btn-floating btn-large  light-blue lighten-1 waves-effect waves-light z-depth-3">
          <i class="material-icons">add</i> </a></div>
           
    </div>
  </div>
</section> -->
