<div id="login-page" class="row" style="width:350px;height:400px;margin:auto">
  <div class="col s12 z-depth-4 card-panel" style="margin-top:25px;">
    <form class="login-form">
      <div class="row">
        <div class="input-field col s12 center">
          <h4>Register</h4>
          <p class="center">Join to our community now !</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">email</i>
          <input id="email" type="email">
          <label for="email" class="center-align">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">lock_outline</i>
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-5">lock_outline</i>
          <input id="password-again" type="password">
          <label for="password-again">Password again</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a href="index.html" class="btn waves-effect waves-light col s12">Register Now</a>
        </div>
      </div>
      <div class="row">
          <p class="center login-form-text" style="margin-bottom:5px;">or use </p>
          <div class="input-field col s12">
          <a href="#" routerLink="/profile"  style="margin-top:5px;margin-bottom:5px;"
          class="btn waves-effect waves-light col s12 red hoverable"> 
          <i class="fa fa-google" aria-hidden="true"></i> Connect with Google</a>
          <a href="#" routerLink="/profile" style="margin-top:5px;margin-bottom:5px;"
          class="btn waves-effect waves-light col s12 blue hoverable"> 
          <i class="fa fa-facebook" aria-hidden="true"></i> Connect with Facebook</a>
          </div>
          <div class="input-field col s12">
              <p class="margin center medium-small sign-up">Already have an account? <a href="#" routerLink="/login">Login</a></p>
            </div>
      </div>
    </form>
  </div>
</div>

